**/.DS_Store
**/.classpath
**/.project
*~
**/*.swp
**/*.log
tmp/**/*
.idea/**/*
**/*.iml
**/test-output
**/target
**/build
**/out
**/*.class
**/.setting*
**/.externalToolBuilders
**/.metadata/
**/surefire-reports
/bin
**/.springBeans
.eslintrc.json
.vscode
.idea/
.gradle/
target/
build/
mqjms.log.*
**/bin
.gradle/*/
.gz
**/generated